* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    min-height: 100dvh;
}

/*ESTILOS DE LA BARRA DE NAVEGACION*/
nav {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;

    h1 {
        a {
            text-decoration: none;
            color: #323232;
            font-weight: 500;
        }
    }

    .navList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            list-style: none;

            a {
                font-size: 14px;
                text-decoration: none;
                color: #323232;
                font-weight: 400;
            }

            a:hover {
                color: #718DA9;
                font-weight: 600;
                transition: color .1s ease-in,
                    font-weight .1s ease-in;
            }
        }

        button {
            background-color: #FFF;
            padding: 10px 30px;
            color: #6E91C9;
            border: 1px solid #6E91C9;
            border-radius: 0px 20px 20px 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #6E91C9;
            color: #FFF;
            transition: background-color .2s ease-in,
                color .2s ease-in;
        }
    }
}

/*--------------- FIN DE LOS ESTILOS DE LA BARRA DE NAEVGACION ------------*/

/*ESTILOS DE LA HERO SECTION*/
#home {
    height: 90dvh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    .info__hero {
        width: 30%;
        margin-top: -50px;

        h2 {
            font-size: 2rem;
            white-space: pre-line;
        }

        p {
            margin-top: 10px;
            width: 80%;
            font-size: .8rem;
        }

        .btn-container__hero {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;

            button {
                margin-top: 30px;
                padding: 10px 30px;
                border-radius: 0px 20px 20px 20px;
                cursor: pointer;
            }

            button:hover{
                transform: scale(1.05);
                transition: transform .3s ease;
            }

            .btn-1 {
                background-color: #4A77BA;
                color: #FFF;
                border: 1px solid #4A77BA;
            }

            .btn-2 {
                background-color: #FFF;
                color: #4A77BA;
                border: 1.5px solid #4A77BA;
            }
        }
    }

    img {
        border-radius: 5px;
        width: 40%;
    }
}
/*--------- FIN DE LOS ESTILOS DE LA HERO SECTION ---------------*/

/*ESTILOS DEL ABOUT US*/
#aboutUs{
    /* background-color: red; */
    font-family: "Montserrrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h3{
        font-size: 1.8rem;
    }

    p{
        font-size: .8rem;
        text-align: center;
        width: 30%;
    }

    .cards__aboutUs{
        /* background-color: aqua; */
        width: 70%;
        padding: 50px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 50px 20px;
        
        .card-info{
            background-color: #FFF;
            padding: 30px 0 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;

            .img-circle{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -25%;
                overflow: hidden;

                img{
                    width: 30px;
                }
            }

            .one{
                background-color: #FBDCDA;
            }

            .two{
                background-color: #F1E0F3;
            }

            .three{
                background-color: #FFF3EB;
            }

            .four{
                background-color: #C8DEEB;
            }

            .five{
                background-color: #FEE0E0;
            }

            .six{
                background-color: #FEECBC;
            }

            p{
                width: 100%;
                color: #2a2a2a;
            }
        }

        .shadow-card{
            border-radius: 5px;
            box-shadow: 4px 4px 6px #00000005,
                -4px 4px 6px #00000005,
                0px 4px 6px #00000005;
        }
    }
}
/*---------- FIN DE LOS ESTILOS DEL ABOUT US -----------------*/

/*CLASE PARA LAS LETRAS AZULES*/
.blue_letter {
    color: #4A77BA;
}